

.hg/
.hgtags
/build/
/j2sdk-image.*
cscope.*

/old/

/hottub/client/java
/hottub/client/java.o
/hottub/static_analysis/build
/hottub/static_analysis/src/static_analysis.jar
/hottub/static_analysis/src/*.class
